@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.75rem;
  background-color: #b1b1b3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  width: 0.5rem;
  background-color: #444dee;
  border-radius: 10px;
}

@layer components {
  section {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pb-12 min-h-screen
  }
}

.TextShadow:hover {
  text-shadow: 0 0 20px #445bee, 0 0 20px #444aee, 0 0 20px #4452ee;
}
